GITHUB_INSTANCE=github.com
GITHUB_USER=tamfrost
GITHUB_CONTAINER_INSTANCE=ghcr.io
GITHUB_REPO_NAME=df-fix
GITHUB_TOKEN=ghp_...

GITHUB_REPO=$GITHUB_INSTANCE/$GITHUB_USER/$GITHUB_REPO_NAME
GITHUB_IMAGE_NAME=$GITHUB_CONTAINER_INSTANCE/$GITHUB_USER/$GITHUB_REPO_NAME/df-proxy-app
GITHUB_HELM_CHART_NAME=$GITHUB_CONTAINER_INSTANCE/$GITHUB_USER/$GITHUB_REPO_NAME/helm/df-proxy-app

POSTGRES_HOST=192.168.1.11